{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Artist Portfolio</title>

    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">3DArtist</div>

        <ul class="nav-links" id="navLinks">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'work' %}">Work</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>

        <button class="work-btn open-popup">
            Let's Work Together
        </button>

        <div class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>

{% if messages %}
<div class="success-popup show-success">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

{% block content %}
{% endblock %}

<!-- POPUP -->

<div class="popup" id="popup">
    <div class="popup-content">

        <span class="close-popup" id="closePopup">&times;</span>

        <h2>Get In Touch</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <input type="text" name="subject" placeholder="Subject" required>

            <textarea name="message" placeholder="Your Message" required></textarea>

            <button type="submit">Send Message</button>
</html>