<div class="logo">
  <span class="logo-mark" aria-hidden="true">
    <svg viewBox="0 0 64 64" role="img">
      <path class="logo-orbit" d="M12 37c8 13 31 15 42 2" />
      <path class="logo-cube" d="M32 8 14 18v20l18 11 18-11V18L32 8Z" />
      <path class="logo-cube-line" d="M32 8v20m-18-10 18 10 18-10M32 28v21" />
      <path class="logo-spark" d="M50 9v8m-4-4h8" />
    </svg>
  </span>
  <span class="logo-text">
    <span class="logo-name">TONMOY 3D ARTIST</span><small>MODELING / TEXTURING</small>
  </span>
</div>
