@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
  font-family: "Outfit", sans-serif;
}

body{
  background:#f5f5f5;
  padding:20px;
  color:#111;
}

.navbar{
  background:white;
  padding:20px 40px;
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
  margin-bottom:30px;
}

.process-grid .process-card i{
    font-size: 45px;
}

.logo{
  font-size:23px;
  font-weight:bold;
  color: gray;
}

.logo span{
  font-weight:bold;
}

nav{
  display:flex;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:black;
  font-weight: 500;
}

.active{
  color:#8c7bff;
}

.nav-btn,
.dark-btn{
  background:#111827;
  color:white;
  border:none;
  padding:14px 24px;
  border-radius:14px;
  cursor:pointer;
}

.light-btn{
  border:1px solid #ddd;
  background:white;
  padding:14px 24px;
  border-radius:14px;
  cursor:pointer;
}

.hero-section{
  background:white;
  border-radius:30px;
  padding:60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
  margin-bottom:30px;
}

.hero-left{
  flex:1;
}

.small-title{
  color:#8c7bff;
  letter-spacing:2px;
  margin-bottom:20px;
}

.hero-left h1{
  font-size:70px;
  line-height:1.1;
  margin-bottom:20px;
}

.hero-left h1 span{
  color:#8c7bff;
}

.hero-left p{
  color:gray;
  line-height:1.8;
  margin-bottom:30px;
}

.hero-right{
  flex:1;
  position:relative;
  text-align:center;
}

.circle-bg{
  width:450px;
  height:450px;
  background:#ece7ff;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.hero-right img{
  width:100%;
  max-width:500px;
  position:relative;
  z-index:2;
}

.services-wrapper{
  background:white;
  padding:40px;
  border-radius:25px;
  margin-bottom:30px;
}

.services-wrapper h2{
  margin-bottom:30px;
  font-size:40px;
}

.services-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.service-card{
  background:#fafafa;
  border:1px solid #eee;
  border-radius:20px;
  overflow:hidden;
}

.service-card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.service-content{
  padding:25px;
}

.service-content h3{
  margin-bottom:15px;
}

.service-content p{
  color:gray;
  line-height:1.7;
  margin-bottom:20px;
}

.service-content a{
  text-decoration:none;
  color:#8c7bff;
}

.process-section{
  background:white;
  padding:40px;
  border-radius:25px;
  margin-bottom:30px;
}

.process-section h2{
  font-size:45px;
  margin-bottom:30px;
}

.process-grid{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:20px;
}

.process-card{
  text-align:center;
}

.process-card span{
  width:60px;
  height:60px;
  background:#ece7ff;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  margin-bottom:20px;
  color:#8c7bff;
  font-weight:bold;
}

.process-card p{
  color:gray;
  line-height:1.7;
}

.contact-section{
  background:#efebff;
  border-radius:25px;
  padding:40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:30px;
  margin-bottom:30px;
}

.contact-left{
  display:flex;
  align-items:center;
  gap:20px;
}

.icon-circle{
  width:70px;
  height:70px;
  background:white;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:28px;
  color:#8c7bff;
}

.footer-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10px;
  flex-wrap:wrap;
  gap:20px;
}

.footer-bottom-links,
.footer-bottom-social{
  display:flex;
  gap:20px;
}

.footer-bottom a{
  text-decoration:none;
  color:#777;
}

/* POPUP */

.popup-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:3000;
}

.popup-box{
  background:white;
  width:90%;
  max-width:500px;
  border-radius:25px;
  padding:40px;
  position:relative;
}

.popup-box form{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:20px;
}

.popup-box input,
.popup-box textarea{
  padding:15px;
  border-radius:12px;
  border:1px solid #ddd;
}

.submit-btn{
  background:#111827;
  color:white;
  border:none;
  padding:15px;
  border-radius:12px;
}

.close-popup{
  position:absolute;
  top:15px;
  right:20px;
  font-size:35px;
  cursor:pointer;
}

/* SUCCESS */

.message-container{
  position:fixed;
  top:20px;
  right:20px;
  z-index:5000;
}

.success-popup{
  background:#111827;
  color:white;
  padding:16px 24px;
  border-radius:14px;
}

/* MENU */

.menu-toggle{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:992px){

  .hero-section,
  .contact-section{
    flex-direction:column;
  }

  .services-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .process-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:768px){

  nav{
    position:absolute;
    top:90px;
    left:0;
    width:100%;
    background:white;
    flex-direction:column;
    padding:20px;
    display:none;
    border-radius:0 0 20px 20px;
  }

  nav.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }

  .nav-btn{
    display:none;
  }

  .hero-left h1{
    font-size:42px;
  }

  .services-grid,
  .process-grid{
    grid-template-columns:1fr;
  }

  .footer-bottom{
    flex-direction:column;
    text-align:center;
  }
  .logo{
    font-size: 20px;
  }

}